.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.d-none {
  display: none !important;
}

.text-danger {
  color: #f70000;
}
